@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    min-height: 100vh;
}


.container{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    top:50%;
    left: 50%;
    align-items: center;
    transform: translate(-50%, -50%);
    color: rgb(244, 244, 244);
    font-size: 45px;
    display: flex;
    padding: 10px 15px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 20px;
    background: linear-gradient(180deg, rgb(70, 129, 142), rgb(177, 85, 185));
}




@media (max-width: 300px){
    .container{
        font-size: 10px;
        padding: 5px;
    }
}


@media (max-width: 400px){
    .container{
        font-size: 15px;
        padding: 10px;
    }
}

@media (max-width: 500px){
    .container{
        font-size: 20px;
        padding: 10px;
    }
}

@media (max-width: 600px){
    .container{
        font-size: 30px;
    }
}

@media (max-width: 700px){
    .container{
        font-size: 40px;
    }
}

